---
layout: default
---
Hello, my name is DJ and this is 'autodidactics', a lightweight blog where I write about bits and pieces that I pick up from content created by other folks - in particular small things that I learn from studying the code they write. Find out more about me and the content I create over on my <a href="https://qmacro.org">home website</a>.
<div class="latest">
<h1>Latest Post</h1>

<!-- Show excerpt from latest post -->

{% for post in site.posts limit:1 %}
<div class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%-d %b" }})</div>
		<div class="excerpt">
			{{ post.excerpt }} <a href="{{ post.url | prepend: site.baseurl }}">[Read more]</a>
		</div>
	{% endfor %}
</div>


<!-- List the rest of the posts by year -->

<h1>Archive</h1>

{% for post in site.posts %}
	{% if forloop.index0 == 0 %}
		{% continue %}
	{% endif %}
	{% assign currentdate = post.date | date: "%Y" %}
	{% if currentdate != date %}
	<h2 class="archiveyear">{{ currentdate }}</h2>
		{% assign date = currentdate %}
	{% endif %}
  <div class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%-d %b" }})</div>
{% endfor %}

